@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #707680;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

/* Reset default margin and padding for all elements */
* {
  @apply box-border m-0 p-0;
}

/* Set the background color and font styles for the body */
body {
  @apply bg-[#f2f2f2];
  font-family: "Inter", sans-serif;
}

/* Header styles */
.header {
  @apply sticky z-[100] bg-white flex justify-between items-center bg-[color:var(--bg-color)] p-5 top-0;
}
.my-nav-class1 {
  --i: 1;
}
.my-nav-class2 {
  --i: 2;
}
.my-nav-class3 {
  --i: 3;
}
.my-nav-class4 {
  --i: 4;
}
.my-nav-class5 {
  --i: 5;
}
.my-nav-class6 {
  --i: 6;
}
.my-media-1 {
  --i: 7;
}
.my-media-2 {
  --i: 8;
}
.my-media-3 {
  --i: 9;
}
.my-media-4 {
  --i: 10;
}
.logo {
  @apply no-underline font-[bold] text-2xl text-black;
}
.navbar a {
  @apply inline-block text-lg text-white no-underline font-medium transition-[0.5s] opacity-0 animate-[slideBottom_0.5s_ease_forwards] ml-[30px] no-underline text-black font-[bold] transition-[color] duration-[0.3s] ease-[ease] ml-5 hover:text-[#10a8f0];
  animation-delay: calc(0.3s * var(--i));
}
.navbar a:hover,
.navbar a.active {
  @apply text-[#18f5c9ec];
}
#menu-icon {
  @apply text-[3.6rem] text-[color:var(--text-color)] hidden;
}
.navbar {
  @apply sticky flex;
}
.active {
  @apply text-[#10a8f0];
}

/* Home section styles */
.home {
  @apply text-center p-[60px] flex justify-between items-center bg-white p-[60px];
}
h3 {
  @apply text-[32px] font-bold opacity-0 animate-[slideTop_1s_ease_forwards];
  animation-delay: 0.7s;
}
.home h3,
.home h1,
.home p {
  @apply text-black mb-5;
}
.home h1 {
  @apply text-5xl font-[bold];
}
.home p {
  @apply text-lg;
}
.home-container {
  @apply w-6/12;
}
.social-media a {
  @apply text-[#10a8f0] text-2xl mr-2.5;
}

/* About section styles */
.about {
  @apply flex justify-between items-center bg-white p-[60px];
}
.about-container {
  @apply w-6/12;
}
.about h2 {
  @apply text-4xl font-[bold] text-black;
}
.about h3 {
  @apply text-2xl font-[bold] text-[#10a8f0] mb-5;
}
.about p {
  @apply text-base text-black;
}
.about a {
  @apply no-underline text-[#10a8f0] font-[bold];
}

/* Skills section styles */
.skills {
  @apply grid col-start-1 row-end-4 text-center p-[60px];
}
.skills h2 {
  @apply text-4xl font-[bold] text-black;
}
.front,
.back,
.db {
  @apply mt-10;
}
.front h3,
.back h3,
.db h3 {
  @apply text-2xl font-[bold] text-black;
}

/* Project section styles */
.project {
  @apply bg-white p-[60px];
}
.project h2 {
  @apply text-4xl font-[bold] text-black;
}
.project div {
  @apply mb-10;
}

/* Project section styles (continuation) */
.project h3 {
  @apply text-2xl font-[bold] text-black;
}
.project p {
  @apply text-base text-black;
}

/* Experience section styles */
.experience {
  @apply text-center p-[60px];
}
.experience h3 {
  @apply text-2xl font-[bold] text-black;
}
.experience sub {
  @apply text-sm text-[#777777];
}

/* Contact section styles */
.contact {
  @apply bg-white p-[60px];
}
.contact h3 {
  @apply text-2xl font-[bold] text-black mb-5;
}
.contact p {
  @apply text-base text-black mb-5;
}
.contact_information {
  @apply flex items-center mb-2.5;
}
.contact_icon {
  @apply text-[#10a8f0] text-xl mr-2.5;
}
.contact_title {
  @apply text-lg font-[bold] text-black;
}
.contact_subtitle {
  @apply text-base text-black;
}
.contact_form {
  @apply mt-10;
}
.contact_label {
  @apply text-base font-[bold] text-black;
}
.contact_input {
  @apply w-full border text-base text-black mt-2.5 p-2.5 rounded-[5px] border-solid border-[#cccccc];
}
.button {
  @apply inline-block bg-[#10a8f0] text-white text-base font-[bold] no-underline transition-[background-color] duration-[0.3s] ease-[ease] px-5 py-2.5 rounded-[5px] hover:bg-[#0c87c4];
}
.button-flex {
  @apply flex items-center;
}
.button_icon {
  @apply text-xl ml-[5px];
}

/* Other general styles */
.heading {
  @apply text-4xl font-[bold] text-black sticky z-[100] bg-white top-0;
}
.heading2 {
  @apply text-4xl font-[bold] text-black bg-white;
}
.multiple-text {
  @apply font-[bold] text-[#10a8f0];
}
.btn {
  @apply inline-block bg-[#10a8f0] text-white text-base font-[bold] no-underline transition-[background-color] duration-[0.3s] ease-[ease] px-5 py-2.5 rounded-[5px] hover:bg-[#0c87c4];
}
.home-img img,
.about-img img {
  @apply w-full max-w-[400px] h-auto rounded-[5px];
}
/* Keyframes animation*/

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24);
  }

  0% {
    transform: translateY(0);
  }
}
